.section {
    margin: 0px 0px 10px 0px;
    height: 100vh;
    overflow: hidden;
}

.title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 45px;
    text-align: center;
}

.desc {
    color: gray;
    text-align: center;
    margin: 5px auto;
    width: 50%;
    font-size: 20px;
}

.card-holder {
    display: flex;
    width: 70%;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
}

.card {
    border: 1px solid black;
    width: 20vw;
    height: 60vh;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
}

.card.highlighted-card {
    background-color: #232627;
    color: white;
    height: 65vh;
}

.card-title {
    margin: 0px;
}

.popular-badge {
    background: #ffa3ea;
    width: fit-content;
    height: fit-content;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 14px;
    color: black;
}

.card-title-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 80px;
    font-weight: 900;
}

.month-text {
    color: #808080;
    font-size: 30px;
    font-weight: 800;
}

.feature-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.feature-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: none;
    border: 1px solid black;
    width: 100%;
    height: 8%;
    border-radius: 5px;
    margin-top: 10px;
}

.button.highlighted-button {
    background: rgb(202,57,239);
    background: linear-gradient(87deg, rgba(202,57,239,1) 20%, rgba(143,57,251,1) 100%); 
    transition: transform .3s ease-in-out;
}

.button.highlighted-button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

@media (max-width: 568px) {
    .card-holder {
        flex-direction: column-reverse;
    }

    .card {
        width: 80vw;
        margin-bottom: 40px;
    }

    .section {
        height: unset;
        margin-bottom: 80px;
    }

    .desc {
        width: 80vw;
    }
}