.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 12vh;
}

.column-1 {
    margin-top: 2vh;
}

.column-2 {
    margin-left: 4vw;

}

.column-1-title {
    font-size: 80px;
    margin: 10px 0px;
}

.column-1-desc {
    color: rgba(0, 0, 0, 0.489);
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    width: 90%;
}

.tag-line {
    margin: 0px;
    color: rgb(202,57,239);
    font-size: 20px;
    font-weight: 500;
}

.button {
    background: rgb(202,57,239);
    background: linear-gradient(87deg, rgba(202,57,239,1) 20%, rgba(143,57,251,1) 100%); 
    border-radius: 20px;
    border: none;
    color: white;
    width: 8vw;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    transition: transform .3s ease-in-out;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.bar-image {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
}

.logo-bar {
    margin-top: 25px;
    position: relative;
    height: 50px;
}

.currency-count {
    font-size: 50px;
    margin: 5px 0px;
}

.column-3-desc {
    width: 80%;
    color: rgba(0, 0, 0, 0.489);
    font-size: 20px;
}

.column-3 {
    margin-left: 5vw;
}

.payment-accepted-icon {
    margin-top: 20px;
    width: 150px;
}