.section {
    margin: 0px 0px 10px 0px;
    height: 70vh;
    overflow: hidden;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
    }
    
}

.title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 40px;
    text-align: center;
    animation: fade-in 2s ease-in-out forwards;
}

.desc {
    color: grey;
    text-align: center;
    margin: 0px auto;
    width: 40%;
    animation: fade-in 2s ease-in-out forwards;
}

.web {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    height: 80%;
    justify-content: space-around;
}

.row-1 {
    height: 12vh;
    display: grid;
    width: 90%;
    margin: 0px auto;
    grid-template-columns: repeat(6, 1fr);
}

.row-2 {
    height: 12vh;
    display: grid;
    width: 75%;
    margin: 0px auto;
    grid-template-columns: repeat(5, 1fr);
}

.row-3 {
    height: 12vh;
    display: grid;
    width: 60%;
    margin: 0px auto;
    grid-template-columns: repeat(4, 1fr);
}

.web-image {
    height: 63px;
    width: 71px;
    margin: 0px auto;
    border-radius: 100%;
}