.section {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50vh;
    margin-left: 5vw;
    margin-top: 70px;
}

.title {
    font-size: 62px;
    width: 80%;
    margin: 0;
}


.desc-text {
    color: rgba(0, 0, 0, 0.489);
    font-size: 20px;
    width: 90%;
}

.button-2 {
    background: rgb(202,57,239);
    background: linear-gradient(87deg, rgba(202,57,239,1) 20%, rgba(143,57,251,1) 100%); 
    border-radius: 20px;
    border: none;
    color: white;
    width: 8vw;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    transition: transform .3s ease-in-out;
}

.button-2:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.button-1 {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    width: 8vw;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

.button-1:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.right-side {
    display: grid;
    place-items: center;
    height: inherit;
}

.image {
    height: 85%;
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
    margin-left: 5vw;
    margin-bottom: 10vh;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 568px) {
    .section {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .right-side {
        display: flex;
        align-items: center;
    }

    .image {
        width: 80%;
        margin: 2vh auto;
    }

    .button-1 {
        width: 40vw;
        margin: 0 auto;
    }

    .button-2 {
        width: 40vw;
        margin: 10px auto;
    }
}